h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;

}
body{
    background-color: #c7c7b4;
}

textarea{
    background-color:#ff9d2e ;
    text-align: center;
    display: block;

}

.text {
    text-align: center;
    display: flex;
    justify-content: center;
    font-style: oblique;
    
}
.texto {
    font-style: oblique;
    text-align: center;
    font-size: 22px;

}
