h1{
    font-style: italic;
    text-align: center;
    background-color: #9dc9ac;
}


header {
    border: #9dc9ac;
    background-color: #9dc9ac;
    float:relative;
    text-align: center;

}

header nav img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    margin: auto;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
}
body{
    background-color: #fffec7;
}


.foto img{
    border-style: dotted;
    width: 200px;
    height: 200px;
    margin-top:50px;
    
}
p{
    text-align: center;
}

.bnt a img{
    text-align: center;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
     
}
.foto {
    text-align: center;
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.bnt {
    text-align: center;
}